{% extends 'base.html' %}
{% block content %}
  <form action = "{{ url_for('index') }}" method="POST" class="form-signin">
  <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1024px-Bootstrap_logo.svg.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Simple Blockchain</h1>

  <label for="sender" class="sr-only">Отправитель</label>
  <input type="text" id="sender" class="form-control" placeholder="Отправитель" name='sender' value="{{ request.form.get('sender') }}" required autofocus>

  <label for="recipient" class="sr-only">Получатель</label>
  <input type="text" id="recipient" class="form-control" placeholder="Получатель" name='recipient' value="{{ request.form.get('recipient') }}" required>

  <label for="amount" class="sr-only">Сумма</label>
  <input type="text" id="amount" class="form-control" placeholder="Сумма" name='amount' value="{{ request.form.get('amount') }}" required>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
  </form>

  <form action="{{ url_for('check') }}" method="GET"  class="form-signin">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Проверить</button>
    </form>
    {% block check %}
    {% for result in results %}
      <div class="result">
        block {{ result['block'] }} : {{ result['result'] }}
        </div>
        {% endfor %}
    {% endblock %}
  {% endblock %}

